{% if docker_config %}
{{ docker_config | to_nice_json(indent=4) }}
{% else %}
{
    {% if docker_insecure_registries %}
    "insecure-registries": [
        {% for registry in docker_insecure_registries %}
            {% if loop.last %}
        "{{ registry }}"
            {% else %}
        "{{ registry }}",
            {% endif %}
        {% endfor %}
    ],
    {% endif %}
    {% if docker_log_driver is defined %}
        {# TODO #}
    {% else %}
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "10m",
        "max-file": "3"
    }
    {% endif %}
}
{% endif %}
